<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Hello, world!</title>
  </head>
  <body class="">
    <div class="container">
        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table table-striped table-success">
                    <tr>
                        
                        <th>Todos</th>
                        <th>created</th>
                        <th>status</th>
                        <th></th>
                    </tr>
                    {%for i in form %}
                    <tr>
                        
                        <td>{{i.task_name}}</td>
                        <td>{{i.created_date}}</td>
                        <td>{{i.status}}</td>
                    
                        <td>
                            <a href="{% url 'edittodo' i.id %}" class="btn btn-info">Edit</a>
                            <a href="" class="btn btn-danger">Delete</a>
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
